In [1]:
!pip install bs4
!pip install pandas

Requirement already satisfied: bs4 in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->bs4) (2.5)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jogador\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [10]:
def add_game(games, resume):
    regular_game = 1
    for game in games:
        total = {}
    
        try:
            game['id']
            data = game.findNext('td').findNext('td').find('a').contents[0]
            age = data.findNext('td').contents[0]
            team = age.findNext('td').find('a').contents[0]
            opp = team.findNext('td').findNext('td').find('a').contents[0]
            result = opp.findNext('td').contents[0]
            started = result.findNext('td').contents[0]
            minutes = started.findNext('td').contents[0]

            fg = minutes.findNext('td').contents [0]
            fga = fg.findNext('td').contents[0]
            fgp = fga.findNext('td').contents[0]

            fg3 = fgp.findNext('td').contents[0]
            fg3a = fg3.findNext('td').contents[0]
            fg3p = fg3a.findNext('td').getText()

            ft = fg3a.findNext('td').findNext('td').contents[0]
            fta = ft.findNext('td').contents[0]
            ftp = fta.findNext('td').getText()

            orb = fta.findNext('td').findNext('td').contents[0]
            drb = orb.findNext('td').contents[0]
            totrb = drb.findNext('td').contents[0]
            ast = totrb.findNext('td').contents[0]
            stl = ast.findNext('td').contents[0]
            blk =stl.findNext('td').contents[0]
            tov = blk.findNext('td').contents[0]
            fouls = tov.findNext('td').contents[0]
            points = fouls.findNext('td').contents[0]

            total['game'] = regular_game
            total['data'] = data 
            total['age'] = age 
            total['team'] = team 
            total['opp'] = opp  
            total['result'] = result 
            total['started'] = started 
            total['minutes'] = minutes 

            total['fg'] = fg
            total['fga'] = fga
            total['fgp'] = fgp 

            total['fg3'] = fg3 
            total['fg3a'] = fg3a 
            total['fg3p'] = fg3p

            total['ft'] = ft
            total['fta'] = fta
            total['ftp'] = ftp

            total['orb'] = orb
            total['drb'] = drb 
            total['totrb'] = totrb 
            total['ast'] = ast  
            total['stl'] = stl
            total['blk'] = blk
            total['tov'] = tov
            total['fouls'] = fouls
            total['points'] = points


            regular_game += 1
            resume.append(total)
        except:
            game = game

In [4]:
urls_jordan = []
resume_jordan = []
url = "https://www.basketball-reference.com/players/j/jordami01/gamelog/"
for i in range(1985, 1999):
    if i == 1994:
        continue
    else:
        new_url = url + str(i)
        urls_jordan.append(new_url)
urls_jordan.append(url + str(2002))
urls_jordan.append(url + str(2003))
urls_jordan

['https://www.basketball-reference.com/players/j/jordami01/gamelog/1985',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1986',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1987',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1988',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1989',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1990',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1991',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1992',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1993',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1995',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1996',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1997',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/1998',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/2002',
 'https://www.basketball-reference.com/players/j/jordami01/gamelog/2003']

In [5]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36"}

In [11]:
for url in urls_jordan:
    response = requests.get(url, headers=headers)
    text = response.text
    soup = BeautifulSoup(text, 'html.parser')
    

    list_games = soup.find('table', id ='pgl_basic')
    list_games = list_games.find('tbody')



    games = list_games.findAll('tr')

    add_game(games, resume_jordan)

In [12]:
len(resume_jordan)

1072

In [14]:
urls_lebron = []
resume_lebron = []
url = "https://www.basketball-reference.com/players/j/jamesle01/gamelog/"
for i in range(2004, 2024):
        new_url = url + str(i)
        urls_lebron.append(new_url)
        
urls_lebron

['https://www.basketball-reference.com/players/j/jamesle01/gamelog/2004',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2005',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2006',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2007',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2008',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2009',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2010',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2011',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2012',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2013',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2014',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2015',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2016',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2017',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2018',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2019',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2020',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2021',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2022',
 'https://www.basketball-reference.com/players/j/jamesle01/gamelog/2023']

In [15]:
for url in urls_lebron:
    response = requests.get(url, headers=headers)
    text = response.text
    soup = BeautifulSoup(text, 'html.parser')
    

    list_games = soup.find('table', id ='pgl_basic')
    list_games = list_games.find('tbody')



    games = list_games.findAll('tr')

    add_game(games, resume_lebron)

In [17]:
len(resume_lebron)

1421

In [18]:
jordan_games = pd.DataFrame(resume_jordan)
lebron_games = pd.DataFrame(resume_lebron)

In [19]:
jordan_games

,game,data,age,team,opp,result,started,minutes,fg,fga,...,ftp,orb,drb,totrb,ast,stl,blk,tov,fouls,points
0,1,1984-10-26,21-252,CHI,WSB,W (+16),1,40:00,5,16,...,.857,1,5,6,7,2,4,5,2,16
1,2,1984-10-27,21-253,CHI,MIL,L (-2),1,34:00,8,13,...,1.000,3,2,5,5,2,1,3,4,21
2,3,1984-10-29,21-255,CHI,MIL,W (+6),1,34:00,13,24,...,.846,2,2,4,5,6,2,3,4,37
3,4,1984-10-30,21-256,CHI,KCK,W (+5),1,36:00,8,21,...,1.000,2,2,4,5,3,1,6,5,25
4,5,1984-11-01,21-258,CHI,DEN,L (-16),1,33:00,7,15,...,.750,3,2,5,5,1,1,2,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,78,2003-04-09,40-051,WAS,BOS,L (-4),1,42:35,8,17,...,1.000,0,10,10,1,2,0,1,2,21
1068,79,2003-04-11,40-053,WAS,MIA,W (+4),1,39:43,11,26,...,1.000,1,1,2,4,2,0,1,2,25
1069,80,2003-04-12,40-054,WAS,ATL,L (-1),1,29:51,8,16,...,.500,2,6,8,6,1,1,2,3,17
1070,81,2003-04-14,40-056,WAS,NYK,L (-14),1,37:33,9,22,...,1.000,1,7,8,1,1,0,2,1,21
1071,82,2003-04-16,40-058,WAS,PHI,L (-20),1,28:10,6,15,...,.750,0,4,4,4,0,0,2,0,15

In [21]:
jordan_games.to_csv("jordan_games.csv", index=False)
lebron_games.to_csv("lebron_games.csv", index=False)