In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36"}

In [3]:
def get_award(list_award, resume):
        for award in list_award:
            new_award = award.find('a').contents[0]
            resume.append(new_award)

In [4]:
resume_jordan = []
url = "https://www.basketball-reference.com/players/j/jordami01.html"


response = requests.get(url, headers=headers)
text = response.text
soup = BeautifulSoup(text, 'html.parser')
list_award = soup.find('ul', id='bling')
list_award = list_award.find_all('li')

get_award(list_award, resume_jordan)

In [5]:
resume_jordan

['Hall of Fame',
 '14x All Star',
 '10x Scoring Champ',
 '3x STL Champ',
 '6x NBA Champ',
 '11x All-NBA',
 '1984-85 All-Rookie',
 '1984-85 ROY',
 '9x All-Defensive',
 '3x AS MVP',
 '1987-88 Def. POY',
 '5x MVP',
 '6x Finals MVP',
 'NBA 75th Anniv. Team']

In [6]:

quantity_jordan = []

for i, item in enumerate(resume_jordan):
    if 'x' in item:
        new_item = item.split('x ') 
        quantity = new_item[0]
        resume_jordan[i] = new_item[1]
    else:
        quantity = '1'
    quantity_jordan.append(quantity)
quantity_jordan

['1', '14', '10', '3', '6', '11', '1', '1', '9', '3', '1', '5', '6', '1']

In [7]:
resume_lebron = []
url = "https://www.basketball-reference.com/players/j/jamesle01.html"


response = requests.get(url, headers=headers)
text = response.text
soup = BeautifulSoup(text, 'html.parser')
list_award = soup.find('ul', id='bling')
list_award = list_award.find_all('li')

get_award(list_award, resume_lebron)

In [8]:
resume_lebron

['19x All Star',
 '2007-08 Scoring Champ',
 '2019-20 AST Champ',
 '4x NBA Champ',
 '19x All-NBA',
 '2003-04 All-Rookie',
 '2003-04 ROY',
 '3x AS MVP',
 '6x All-Defensive',
 '4x MVP',
 '4x Finals MVP',
 'NBA 75th Anniv. Team']

In [9]:
quantity_lebron = []

for i, item in enumerate(resume_lebron):
    if 'x' in item:
        new_item = item.split('x ') 
        quantity = new_item[0]
        resume_lebron[i] = new_item[1]
    else:
        quantity = '1'
    quantity_lebron.append(quantity)
quantity_lebron

['19', '1', '1', '4', '19', '1', '1', '3', '6', '4', '4', '1']

In [10]:
jordan = pd.DataFrame(resume_jordan, quantity_jordan)
lebron = pd.DataFrame(resume_lebron, quantity_lebron)
jordan

                       0
1           Hall of Fame
14              All Star
10         Scoring Champ
3              STL Champ
6              NBA Champ
11               All-NBA
1     1984-85 All-Rookie
1            1984-85 ROY
9          All-Defensive
3                 AS MVP
1       1987-88 Def. POY
5                    MVP
6             Finals MVP
1   NBA 75th Anniv. Team

In [12]:
lebron

                        0
19               All Star
1   2007-08 Scoring Champ
1       2019-20 AST Champ
4               NBA Champ
19                All-NBA
1      2003-04 All-Rookie
1             2003-04 ROY
3                  AS MVP
6           All-Defensive
4                     MVP
4              Finals MVP
1    NBA 75th Anniv. Team

In [13]:
jordan.to_csv('jordan_awards.csv')
lebron.to_csv('lebron_awards.csv')